<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<div class='cover'>
  <%= image_tag("https://target.scene7.com/is/image/Target/GUEST_efdec761-c2e6-4377-9d54-cbb8765fd03b?wid=488&hei=488&fmt=pjpeg") %>
</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
