<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<div class='cover'> 
  <% if @album.cover.attached? %>
    <image src="<%=(url_for(@album.cover))%>">
  <% end %>

</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
